/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Centering the registration form */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
}

.registration-container form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.registration-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.registration-container label {
    display: block;
    margin: 10px 0 5px;
}

.registration-container input, .registration-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-container button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #4cae4c;
}
